#include <dt-bindings/clock/mdss-7nm-pll-clk.h>
#include "dsi-panel-mot-dummy-qhd-video.dtsi"

&tlmm {
	disp_vci_en_default: disp_vci_en_default {
		mux {
			pins = "gpio48";
			function = "gpio";
		};

		config {
			pins = "gpio48";
			drive-strength = <8>;
			bias-disable = <0>;
			output-high;
		};
	};
};

&soc {
	ext_disp: qcom,msm-ext-disp {
		compatible = "qcom,msm-ext-disp";

		ext_disp_audio_codec: qcom,msm-ext-disp-audio-codec-rx {
			compatible = "qcom,msm-ext-disp-audio-codec-rx";
		};
	};


	disp_vci: disp_vci {
		compatible = "regulator-fixed";
		regulator-name = "disp_vci";
		vin-supply = <&pm8150a_l11>;
		gpio = <&tlmm 48 0>;
		startup-delay-us = <300>;
		enable-active-high;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&disp_vci_en_default>;
	};

	sde_dsi: qcom,dsi-display-primary {
		compatible = "qcom,dsi-display";
		label = "primary";

		qcom,dsi-ctrl = <&mdss_dsi0>;
		qcom,dsi-phy = <&mdss_dsi_phy0>;


		clocks = <&mdss_dsi0_pll BYTECLK_MUX_0_CLK>,
			<&mdss_dsi0_pll PCLK_MUX_0_CLK>,
			<&mdss_dsi0_pll BYTECLK_SRC_0_CLK>,
			<&mdss_dsi0_pll PCLK_SRC_0_CLK>,
			<&mdss_dsi0_pll SHADOW_BYTECLK_SRC_0_CLK>,
			<&mdss_dsi0_pll SHADOW_PCLK_SRC_0_CLK>,
			<&mdss_dsi1_pll BYTECLK_MUX_1_CLK>,
			<&mdss_dsi1_pll PCLK_MUX_1_CLK>,
			<&mdss_dsi1_pll BYTECLK_SRC_1_CLK>,
			<&mdss_dsi1_pll PCLK_SRC_1_CLK>,
			<&mdss_dsi1_pll SHADOW_BYTECLK_SRC_1_CLK>,
			<&mdss_dsi1_pll SHADOW_PCLK_SRC_1_CLK>;

		clock-names = "mux_byte_clk0", "mux_pixel_clk0",
			"src_byte_clk0", "src_pixel_clk0",
			"shadow_byte_clk0", "shadow_pixel_clk0",
			"mux_byte_clk1", "mux_pixel_clk1",
			"src_byte_clk1", "src_pixel_clk1",
			"shadow_byte_clk1", "shadow_pixel_clk1";

		pinctrl-names = "panel_active", "panel_suspend";
		pinctrl-0 = <&sde_dsi_active &sde_te_active>;
		pinctrl-1 = <&sde_dsi_suspend &sde_te_suspend>;

		qcom,platform-te-gpio = <&tlmm 66 0>;
		qcom,panel-te-source = <0>;

		vddio-supply = <&pm8150_l14>;
		vci-supply = <&disp_vci>;
		qcom,dsi-default-panel = <&mot_boe_gdx_667_1080p_cmd_v0>;

		qcom,mdp = <&mdss_mdp>;
	};


	sde_dsi1: qcom,dsi-display-secondary {
		compatible = "qcom,dsi-display";
		label = "secondary";

		qcom,dsi-ctrl = <&mdss_dsi0 &mdss_dsi1>;
		qcom,dsi-phy = <&mdss_dsi_phy0 &mdss_dsi_phy1>;

		clocks = <&mdss_dsi0_pll BYTECLK_MUX_0_CLK>,
			<&mdss_dsi0_pll PCLK_MUX_0_CLK>,
			<&mdss_dsi1_pll BYTECLK_MUX_1_CLK>,
			<&mdss_dsi1_pll PCLK_MUX_1_CLK>;
		clock-names = "mux_byte_clk0", "mux_pixel_clk0",
			"mux_byte_clk1", "mux_pixel_clk1";

		pinctrl-names = "panel_active", "panel_suspend";
		pinctrl-0 = <&sde_dsi1_active &sde_te1_active>;
		pinctrl-1 = <&sde_dsi1_suspend &sde_te1_suspend>;

		qcom,platform-te-gpio = <&tlmm 67 0>;
		qcom,panel-te-source = <1>;

		vddio-supply = <&pm8150_l14>;
		vdd-supply = <&pm8150a_l11>;

		qcom,mdp = <&mdss_mdp>;
	};

	sde_wb: qcom,wb-display@0 {
		compatible = "qcom,wb-display";
		cell-index = <0>;
		label = "wb_display";
	};
};

&pm8150a_l11 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	qcom,init-voltage = <3000000>;
};

&sde_dp {
	qcom,dp-usbpd-detection = <&pm8150b_pdphy>;
	qcom,ext-disp = <&ext_disp>;
	qcom,dp-aux-switch = <&fsa4480>;

	qcom,usbplug-cc-gpio = <&tlmm 65 0>;

	pinctrl-names = "mdss_dp_active", "mdss_dp_sleep";
	pinctrl-0 = <&sde_dp_usbplug_cc_active>;
	pinctrl-1 = <&sde_dp_usbplug_cc_suspend>;
};

&mdss_mdp {
	connectors = <&sde_dp &sde_wb &sde_dsi &sde_rscc>;
	mot_smd_639_1080p_cmd_v1: qcom,mdss_dsi_mot_smd_639_1080p_cmd_v1 {
		#include "dsi-panel-mot-smd-639-1080p-cmd-common.dtsi"
	};

	mot_boe_gdx_667_1080p_cmd_v0: qcom,mdss_dsi_mot_boe_gdx_667_1080p_cmd_v0 {
		#include "dsi-panel-mot-boe-667-1080p-dsc-cmd-common.dtsi"
	};

	mot_boe_lsi_667_1080p_cmd_v0: qcom,mdss_dsi_mot_boe_lsi_667_1080p_cmd_v0 {
		#include "dsi-panel-mot-boe-667-1080p-dsc-cmd-common.dtsi"
	};

	mot_csot_gdx_667_1080p_cmd_v0: qcom,mdss_dsi_mot_csot_gdx_667_1080p_cmd_v0 {
		#include "dsi-panel-mot-csot-667-1080p-dsc-cmd-common.dtsi"
	};

	mot_csot_lsi_667_1080p_cmd_v0: qcom,mdss_dsi_mot_csot_lsi_667_1080p_cmd_v0 {
		#include "dsi-panel-mot-csot-667-1080p-dsc-cmd-common.dtsi"
	};

};

&sde_dsi1 {
	status = "disabled";
};

&pm8150a_amoled {
	status = "ok";
};

&sde_dsi_active {
	mux {
		pins = "gpio75";
		function = "gpio";
	};

	config {
		pins = "gpio75";
		drive-strength = <8>;   /* 8 mA */
		bias-disable = <0>;   /* no pull */
	};
};


&sde_dsi_suspend {
	mux {
		pins = "gpio75";
		function = "gpio";
	};

	config {
		pins = "gpio75";
		drive-strength = <2>;   /* 2 mA */
		bias-pull-down;         /* PULL DOWN */
	};
};

/* PHY TIMINGS REVISION Y */
&mot_smd_639_1080p_cmd_v1 {
/*        qcom,mdss-brightness-max-level = <255>;
*/
	qcom,platform-te-gpio = <&tlmm 66 0>;
	qcom,platform-reset-gpio = <&tlmm 75 0>;
	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14500 15500 32000
	        17000 15500 30000 8000 3000>;
	qcom,mdss-dsi-panel-peak-brightness = <4200000>;
	qcom,mdss-dsi-panel-blackness-level = <3230>;

	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,mdss-dsi-panel-phy-timings = [00 1f 08 08 24 23 08
							08 05 02 04 00 1a 18];
			qcom,display-topology = <1 0 1>;
			qcom,default-topology-index = <0>;

			qcom,mdss-dsi-hbm-dim-off-command = [
				39 00 00 00 00 00 03 F0 5A 5A
				39 00 00 00 00 00 03 B7 01 58
				15 01 00 00 00 00 02 B0 07
				15 01 00 00 00 00 02 B7 12
				39 00 00 00 00 00 03 F0 5A 5A];
		};
	};
};

&mot_boe_gdx_667_1080p_cmd_v0 {
	qcom,platform-te-gpio = <&tlmm 66 0>;
	qcom,platform-reset-gpio = <&tlmm 75 0>;

	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 14900 31850
	        16650 14900 29650 7550 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <4200000>;
	qcom,mdss-dsi-panel-blackness-level = <3230>;
	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
		timing@1 {
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_boe_lsi_667_1080p_cmd_v0 {
	qcom,platform-te-gpio = <&tlmm 66 0>;
	qcom,platform-reset-gpio = <&tlmm 75 0>;

	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14950 14900 31850
	        16650 14900 29650 7550 2500>;
	qcom,mdss-dsi-panel-peak-brightness = <4200000>;
	qcom,mdss-dsi-panel-blackness-level = <3230>;
	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,mdss-dsi-on-command = [
				39 00 00 00 00 00 05 FF AA 55 A5 81
				15 00 00 00 00 00 02 6F 0D
				15 00 00 00 00 00 02 F3 CB
				39 00 00 00 00 00 05 FF AA 55 A5 00
				39 00 00 00 00 00 06 F0 55 AA 52 08 01 /* Page 1*/
				/*TSP_VTE, TSP_HTE*/
				39 00 00 00 00 00 04 D1 07 02 3f
				39 00 00 00 00 00 06 F0 55 AA 52 08 00 /* Page 0 */
				/*GPO0=TE, GPO1=ALL MIPI error, GPO2=TSP_HTE, GPO3=TSP_CTE*/
				39 00 00 00 00 00 06 BE 0E 91 94 13 1F
				/* Framne rate = 60hz */
				15 00 00 00 00 00 02 B2 01 /* backlight fix */
				15 00 00 00 00 00 02 6F 0E
				15 00 00 00 00 00 02 BA 18
				15 00 00 00 00 00 02 6F 03
				39 00 00 00 00 00 04 C0 80 00 00
				15 00 00 00 00 00 02 26 01
				/* Done with frame rate setting */
				05 00 00 00 00 00 01 35  /* Set tear on */
				15 00 00 00 00 00 02 53 20 /* HBM off ,dimming=1frame*/
				/* Spec calls for 51 06 40 0F FF*/
				39 00 00 00 00 00 05 51 00 00 0F FF
				39 00 00 00 00 00 05 2A 00 00 04 37 /* Column Addr set */
				39 00 00 00 00 00 05 2B 00 00 09 23 /* Row Addr set */
				/* PPS stable1 10bit3.75x slice 20 */
				39 00 00 00 00 00 13 93 AB 28 00 14 02 00 02 0E 01 E8 00 07 05 0E 05 16 10 F0
				15 00 00 00 00 00 02 90 01  /* Compression method selection*/
				15 00 00 00 00 00 02 03 11 /* Compression mode */
				05 01 00 00 00 00 01 2C /* Memory write */
				05 01 00 00 78 00 01 11
				15 00 00 00 00 00 02 55 00      /* ACL OFF */
				05 01 00 00 00 00 01 29];       /* display on */

			/* Phy 4; w=2880 h=2340; 10bits 60hz; 3.75x dsc */
			qcom,mdss-dsi-panel-phy-timings = [00 0D 03 03 1D 1D 04
					03 01 02 04 00 0D 13];
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
		timing@1 {
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_csot_gdx_667_1080p_cmd_v0 {
	qcom,platform-te-gpio = <&tlmm 66 0>;
	qcom,platform-reset-gpio = <&tlmm 75 0>;

	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14500 15500 32000
	        17000 15500 30000 8000 3000>;
	qcom,mdss-dsi-panel-peak-brightness = <4200000>;
	qcom,mdss-dsi-panel-blackness-level = <3230>;
	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			/* Phy 4; w=2880 h=2340; 10bits 90hz; 3.75x dsc */
			qcom,mdss-dsi-panel-phy-timings = [00 12 04 04 1E 1E 04
							05 02 02 04 00 11 14];
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_csot_lsi_667_1080p_cmd_v0 {
	qcom,platform-te-gpio = <&tlmm 66 0>;
	qcom,platform-reset-gpio = <&tlmm 75 0>;

	qcom,mdss-dsi-panel-hdr-enabled;
	qcom,mdss-dsi-panel-hdr-color-primaries = <14500 15500 32000
	        17000 15500 30000 8000 3000>;
	qcom,mdss-dsi-panel-peak-brightness = <4200000>;
	qcom,mdss-dsi-panel-blackness-level = <3230>;
	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,mdss-dsi-on-command = [
				39 00 00 00 00 00 05 FF AA 55 A5 81
				15 00 00 00 00 00 02 6F 0D
				15 00 00 00 00 00 02 F3 CB
				/* Set OSC 101.6Mhz */
				15 00 00 00 00 00 02 6F 05
				39 00 00 00 00 00 03 FD 00 DA
				/* End Set OSC */
				39 00 00 00 00 00 05 FF AA 55 A5 00
				39 00 00 00 00 00 06 F0 55 AA 52 08 01 /* Page */
				/*TSP_VTE, TSP_HTE*/
				39 00 00 00 00 00 04 D1 07 02 3f
				39 00 00 00 00 00 06 F0 55 AA 52 08 00 /* Page 0 */
				/*GPO0=TE, GPO1=ALL MIPI error, GPO2=TSP_HTE, GPO3=TSP_CTE*/
				39 00 00 00 00 00 06 BE 0E 91 94 13 1F
				/* Framne rate = 90hz */
				15 00 00 00 00 00 02 B2 01 /* backlight fix */
				15 00 00 00 00 00 02 6F 0E
				15 00 00 00 00 00 02 BA 18
				15 00 00 00 00 00 02 6F 03
				39 00 00 00 00 00 04 C0 00 00 00
				15 00 00 00 00 00 02 26 01
				/* Done with frame rate setting */
				05 00 00 00 00 00 01 35  /* Set tear on */
				15 00 00 00 00 00 02 53 20 /* HBM off ,dimming=1frame*/
				/* Spec calls for 51 06 40 0F FF*/
				39 00 00 00 00 00 05 51 00 00 0F FF
				39 00 00 00 00 00 05 2A 00 00 04 37 /* Column Addr set */
				39 00 00 00 00 00 05 2B 00 00 09 23 /* Row Addr set */
				/* PPS stable1 10bit3.75x slice 20 */
				39 00 00 00 00 00 13 93 AB 28 00 14 02 00 02 0E 01 E8 00 07 05 0E 05 16 10 F0
				15 00 00 00 00 00 02 90 01  /* Compression method selection*/
				15 00 00 00 00 00 02 03 11 /* Compression mode */
				05 01 00 00 00 00 01 2C /* Memory write */
				05 01 00 00 78 00 01 11
				15 00 00 00 00 00 02 55 00 /* ACL OFF */
				05 01 00 00 00 00 01 29];  /* display on */

			/* Phy 4; w=2880 h=2340; 10bits 90hz; 3.75x dsc */
			qcom,mdss-dsi-panel-phy-timings = [00 12 04 04 1E 1E 04
							05 02 02 04 00 11 14];
			qcom,display-topology = <2 2 1>;
			qcom,default-topology-index = <0>;
		};
	};
};

&mot_dummy_vid_qhd {
	qcom,platform-reset-gpio = <&tlmm 75 0>;

	qcom,dsi-select-clocks = "mux_byte_clk0", "mux_pixel_clk0";
	qcom,mdss-dsi-display-timings {
		timing@0 {
			qcom,mdss-dsi-panel-phy-timings = [00 0B 02 02 1C 1C 03
							02 01 02 04 00 0C 12];
			qcom,display-topology = <1 0 1>;
			qcom,default-topology-index = <0>;
		};
	};
};
