/* Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/plugin/;

#include "lito-racer-common-overlay.dtsi"

/ {
	model = "Racer";
	compatible = "qcom,lito-racer", "qcom,lito-moto", "qcom,lito";
	qcom,msm-id = <400 0x10000>, <440 0x10000>;
	qcom,board-id = <0x47 0xA100>;
};

/*
 * Charleston HW rev EVT1 specific changes go here
 */
&tlmm {
	touch_vio_en_mux {
		touch_vio_en_active: active {
			mux {
				pins = "gpio56";
				function = "gpio";
			};
			config {
				pins = "gpio56";
				drive-strength = <2>;
				bias-disable;
				output-high;
			};
		};

		touch_vio_en_suspend: default {
			mux {
				pins = "gpio56";
				function = "gpio";
			};
			config {
				pins = "gpio56";
				drive-strength = <2>;
				bias-pull-down;
				output-low;
			};
		};
	};
};

&soc {
	tp_panel_dvdd: tp_gpio_regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "tp_panel_dvdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&tlmm 56 0>;
		enable-active-high;
		regulator-boot-on;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_vio_en_active>;
	};
};

&qupv3_se7_i2c {
	goodix_ts_i2c@5d {
		goodix,iovdd-name = "tp_panel_dvdd";
	};

	sec_mmi@48 {
		sec,regulator_dvdd = "tp_panel_dvdd";
	};
};
