config TOUCHSCREEN_SYNAPTICS_TCM_MMI_CORE
	tristate "Synaptics TCM core module"
	depends on I2C || SPI_MASTER
	default n
	help
	  Say Y here to enable core functionality.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_core_module.

config TOUCHSCREEN_SYNAPTICS_TCM_MMI_CORE_EMULATE_DT2W
	bool "Synaptics TCM core emulate dt2w"
	depends on I2C || SPI_MASTER
	depends on INPUT_TOUCHSCREEN_MMI
	depends on BOARD_USES_DOUBLE_TAP_CTRL
	default n
	help
	  Say Y here if you want to emulate double tap.

	  If unsure, say N.
